<div class="container">

	<h1>Seller Details</h1>
	<%= link_to "Back", sellers_path, :class => "btn btn-primary" %> 
		<table class="table table-striped">
			<thead>
				<th>Seller Name</th>
				<th>Country</th>
				<th>Actions</th>
			</thead>
			<tr>
				<td><%= @seller.seller_name %></td>
				<td><%= @seller.country %></td>
				<td>
					<%= link_to "Edit", edit_seller_path(@seller), :class => "btn btn-warning" %>
					<%= link_to "Delete", seller_path(@seller) , method: :delete , data: { confirm: "Are you sure?" }, :class => "	btn btn-danger" %>
				</td>
			</tr>
		</table>


	<h2>Product List</h2>
	<ul>
		<% @seller.products.each do |product| %>
			<li> <%= product.name %> </li>
		<% end %>
	</ul>
</div>