<div class="container">

<h1>User List</h1>
<%= link_to "Back", user_session_path, :class => "btn btn-primary" %>
 
<table class="table table-striped">
	<thead>
		<th>Email</th>
		<th>Password</th>
		<th>Role</th>
	</thead>
	<tr>
		<td><%= @user.email %></td>
		<td><%= @user.password %></td>
		<td><%= @user.roles%></td>
		<td>
			<%= link_to "Edit", edit_user_registration_path(user), :class => "btn btn-warning" %>
			<%= link_to "Delete", destroy_user_session_path(user) , method: :delete , data: { confirm: "Are you sure?" }, :class => "btn btn-danger" %>
		</td>
	</tr>
	<% end %>
</table>
	<%= will_paginate(@user) %>
</div>