
<div class="container">

	<h1>Customer Name</h1>
	<%= link_to "Back", customers_path , :class => "btn btn-primary" %>
 
	<table class="table table-striped">
		<thead>
			<th>Cusomer_Name</th>
			<th>Product</th>
			<th>City</th>
			<th>Actions</th>
		</thead>
	
		<tr>
			<td><%= @customer.customer_name %></td>
			<td><%= @customer.try(:product).try(:name) %></td>
			<td><%= @customer.city %></td>
			<td>
			<%= link_to "Edit", edit_customer_path(@customer), :class => "btn btn-warning" %>
			<%= link_to "Delete", @customer , method: :delete , data: { confirm: "Are you sure?" }, :class => "btn btn-danger" %>
			</td>
		</tr>
	</table>	
</div>		